{% extends "base.html" %}

{% block title %}Dashboard - {% endblock %}
{% block js %}<script src"{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}



{% block content %}

    <h1>Dashboard</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for  category, message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    {% if isAdmin == 1 %}
    <!-- ADMINISTRATEUR -->
    <p><strong>ADMIN</strong></p>

    <p>tuto ? explication en despi</p>

    <!-- <div id="dashboard-buttons">
        <a href="{{ url_for('dashboardAdminAddRef') }}" class="dashboard-button">Créer</a>
        <a href="{{ url_for('dashboardAdminSearchRef') }}" class="dashboard-button">Rechercher</a>
        <a href="{{ url_for('dashboardAdminEditRef') }}" class="dashboard-button">Modifier</a>
        <a href="{{ url_for('dashboardAdminDeleteRef') }}" class="dashboard-button">Supprimer</a>
    </div>
     -->


    {% else %}

    <!-- REFERENT -->
    <p>REFERENT</p>
    
    <!-- Afficher le total des effectifs de l'école -->
    <button type="button" class="btn btn-primary position-relative">
        Total des effectifs de l'école
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ nbEleves }}
        </span>
    </button>
    
    <p></p>

    <!-- Afficher la moyenne par classe -->
    <button type="button" class="btn btn-primary position-relative">
        Moyenne par classe
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ moyenneEleveParClasse }}
        </span>
    </button>

    {% endif %}
    <br><br><br><br><br><br><br><br><br><b><b></b></b>
{% endblock %}