{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <!-- GARDER CA POUR LE DASHBOARD
    <p>Bonjour {{ session['username']|title if session['username'] else 'invité'}}, bienvenue sur mon site !</p> -->
    

    <h1 style="color: white;">
        Bonjour {{ session['username']|title if session['username'] else 'invité'}} !
    </h1>

    <br>
    
    <div class="container">
        
        <div class="row">
            <div class="col">
                <div class="card" style="border-radius: 40px; background: linear-gradient(90deg, rgba(255,222,89,1) 0%, rgba(255,145,77,1) 100%); color: #0A4191;">
                    <div class="card-body">
                            <br><br><br><br>
                            <h5 class="card-title" style="font-size:2em; text-align: center;">Ouvrir les portes de l'éducation <br> avec OpenEduc</h5>
                            <br>
                            <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                            <p class="card-text">
                                OpenEduc, la plateforme qui révolutionne la gestion des écoles pour un enseignement plus efficace et accessible à tous.
                            </p>
                            <!-- <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>

            </div>
            <div class="col">
                <dotlottie-player src="https://lottie.host/e296a77a-7802-4b42-8c32-5a6db60a0486/4jbk5lSG5o.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></dotlottie-player>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <dotlottie-player src="https://lottie.host/3ca199d2-5d62-4ff0-aab3-e53bbd1f5be7/1IYG9cSr7C.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></dotlottie-player>
            </div>
            <!-- Deuxième carte -->
            <div class="col">
                <div class="card" style="border-radius: 40px; background: linear-gradient(90deg, rgba(255,222,89,1) 0%, rgba(255,145,77,1) 100%); color: #0A4191;">
                    <div class="card-body">
                        <br><br><br><br>
                        <h5 class="card-title" style="font-size:2.5em; text-align: center;">Notre Mission</h5>
                        <br>
                        <p class="card-text">
                            OpenEduc a pour mission de moderniser la gestion des informations scolaires en fournissant une plateforme conviviale et efficace pour collecter, stocker et partager les données éducatives. Nous visons à simplifier le processus pour les référents locaux d'écoles, les secrétaires d'associations de parents d'élèves et autres acteurs de la communauté éducative, afin qu'ils puissent se concentrer sur l'amélioration de l'expérience scolaire des élèves.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- <h2>l'A.P.E.A</h2>
    
    <p>
        L’APEA, Association de Parents d’Elèves d’Alsace, est une organisation à but non lucratif quia pour mission de participer aux actions scolaires au sein des établissements publics locauxd’enseignement.
        Elle participe au fonctionnement du service public de l'éducation en tantqu’intermédiaire entre les parents et le personnel pédagogique.
        Elle a pour objet la défensedes intérêts moraux et matériels communs aux parents d'élèves.
        Elle est, de ce fait,représentée au conseil d’école, au conseil d'administration des EPLE, au Conseil supérieurde l'éducation, dans les conseils académiques et dans les conseils départementaux del'Éducation nationale.
    </p>

    <br><br>
    <h2>Présentation de la plateforme</h2>

    OpenEduc est une plateforme web conçue pour faciliter la collecte, la gestion et la diffusion d'informations sur les écoles. Elle vise à fournir aux utilisateurs un moyen efficace de saisir, modifier et consulter les données liées aux écoles.
    Les principaux objectifs de l'application OpenEduc sont de simplifier le processus de collecte d'informations sur les écoles, de permettre aux utilisateurs de stocker ces données de manière organisée, et de rendre ces informations accessibles au public de manière conviviale.
    OpenEduc est utilisé par des référents locaux d'écoles, des secrétaires d'association de parents d'élèves, ainsi que par d'autres membres de la communauté éducative. Il est destiné à être utilisé dans le cadre de la gestion quotidienne des informations sur les écoles.
-->
{% endblock %}