{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recherche.css') }}">
{% endblock %}


{% block content %}

    <h1>Rechercher une école</h1>

    <form action="{{url_for('recherche')}}" method="POST">
        <p>
            <label for="nom">Saisir un nom : </label>
            <input type="text" name="nom" id="nom" required autofocus>
            <input type="submit" value="Chercher">
        </p>
    </form>

    {% if resultats is not none %}
        {% if resultats|length == 0 %}
            <p>Aucun élève ne correspond à la recherche.</p>
        {% else %}
            <p>Voici les élèves trouvés :</p>
            <ul>
                {% for resultat in resultats %}
                    <li>{{ resultat }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}


    <br><br><br><br><br><br><br><br><br><b><b></b></b>
{% endblock %}