{% extends "base.html" %}

{% block content %}

    <h1>Conditions générales d'utilisation</h1>

    <p>Les présentes conditions générales d&#39;utilisation régissent les relations entre l&#39;Association de Parents d&#39;Elèves d&#39;Alsace (APEA), représentée par OpenEduc d&#39;une part, et les utilisateurs du site web OpenEduc d&#39;autre part.</p>
    
    <h2 id="en-r-sum-">En résumé</h2>
        <ol>
            <li>Utilisation dans le cadre des lois en vigueur.</li>
            <li>Conformité au RGPD pour le respect des données personnelles.</li>
            <li>Possibilité d&#39;exercer tous les droits relatifs aux données personnelles.</li>
            <li>Responsabilité de tout contenu publié sur le site</li>
            <li>Engagement à ne publier que du contenu dont vous détenez les droits.</li>
            <li>Absence de modération a priori du contenu utilisateur.</li>
            <li>Garantie de la sécurité et de la disponibilité du site avec une obligation de moyens.</li>
        </ol>

    <h2 id="pr-ambule">Préambule</h2>

    <p>OpenEduc est une plateforme en ligne développée par l&#39;APEA, offrant un espace sécurisé et centré sur le domaine de l&#39;éducation, ouvert à tous les membres de la communauté éducative ainsi qu&#39;à ses partenaires.</p>
    
    <h3 id="1-terminologie">1 - Terminologie</h3>    
    <ul>
        <li>Le Site: Ensemble des pages et ressources accessibles via le domaine OpenEduc.</li>
        <li>Utilisateur: Toute personne visitant le site.</li>
        <li>Compte personnel: Nécessaire pour accéder aux services.</li>
        <li>Administrateur: Personne à l&#39;origine de la création d&#39;un espace sur OpenEduc.</li>
    </ul>

    <h3 id="2-conditions-d-inscription">2 - Conditions d&#39;inscription</h3>
    <p>L&#39;inscription requiert des informations valides telles que l&#39;adresse email, le nom, le prénom et un mot de passe personnel.</p>

    <h3 id="3-acc-s-un-espace">3 - Accès à un espace</h3>
    <p>Chaque espace sur OpenEduc est protégé par un code d&#39;accès unique ou des codes individuels.</p>

    <h3 id="4-suppression-d-un-compte-personnel">4 - Suppression d&#39;un compte personnel</h3>
    <p>Tout utilisateur peut demander la suppression de son compte via le formulaire de contact.</p>

    <h3 id="5-protection-des-donn-es">5 - Protection des données</h3>
    <p>OpenEduc garantit la confidentialité et le traitement sécurisé des données personnelles conformément au RGPD.</p>

    <h3 id="6-code-de-conduite">6 - Code de Conduite</h3>
    <p>L&#39;usage des services est soumis à un code de conduite visant à promouvoir un environnement convivial et sécurisé.</p>

    <h3 id="7-fonctionnement-de-la-plateforme">7 - Fonctionnement de la plateforme</h3>
    <p>OpenEduc est une plateforme gratuite administrée de manière collaborative par une équipe de professionnels.</p>

    <h3 id="8-limitations-de-responsabilit-">8 - Limitations de responsabilité</h3>
    <p>OpenEduc décline toute responsabilité en cas de dommages indirects ou directs découlant de l&#39;utilisation des services.</p>

    <h3 id="9-modifications-des-conditions-d-utilisation">9 - Modifications des conditions d&#39;utilisation</h3>
    <p>Les conditions générales d&#39;utilisation peuvent être modifiées à tout moment et sans préavis.</p>

    <h3 id="10-droit-de-la-propri-t-intellectuelle">10 - Droit de la propriété intellectuelle</h3>
    <p>OpenEduc détient la propriété intellectuelle sur la plateforme et les services associés.</p>

    <h3 id="11-validit-juridiction">11 - Validité-Juridiction</h3>
    <p>En cas de litige, les juridictions de Rennes sont compétentes.</p>

    <p><em>Dernière mise à jour le 10 Avril 2024</em></p>
    
    <br><br><br><br><br><br><br><br><br><b><b></b></b>
{% endblock %}