{% extends "base.html" %}

{% block content %}

    <h1>Mentions légales</h1>
    
    <h2 id="informations-administratives">Informations administratives</h2>
    
    <h3 id="propri-taire">Propriétaire</h3>
    <p>
        DES IMAGES ET DES MOTS - SARL au capital de 20.000€ <br>
        RCS RENNES 518 764 642 <br>
        Numéro de TVA : FR39518764642 <br>
        Siège social : 6, La Galinais, 35600 BAINS SUR OUST <br>
    </p>

    <h3 id="responsable-de-publication">Responsable de publication</h3>
    <p>
        Ivan Lefeuvre - Gérant - 25 Avenue Joseph Ricordel 35600 REDON
    </p>
    
    <h3 id="h-bergeur">Hébergeur</h3>
    <p>
        Société OVHcloud - SAS au capital de 10 000 000 € - RCS Roubaix – Tourcoing 424 761 419 00045 <br>
        Siège social : 2 rue Kellermann - 59100 Roubaix - FRANCE
</p>

        <br><br><br><br><br><br><br><br><br><b><b></b></b>
{% endblock %}