{% extends "base.html" %}

{% block content %}

    <h1>OpenEduc et le RGPD</h1>

    <h2 id="qu-est-ce-que-le-rgpd-">Qu&#39;est ce que le RGPD ?</h2>
    <p>Le règlement n°2016/679, dit Règlement Général sur la Protection des Données (RGPD, ou encore GDPR, de l&#39;anglais General Data Protection Regulation), est un règlement de l&#39;Union européenne qui constitue le texte de référence en matière de protection des données à caractère personnel. Il renforce et unifie la protection des données pour les individus au sein de l&#39;Union européenne.</p>
    <p>Les principaux objectifs du RGPD sont d&#39;accroître à la fois la protection des personnes concernées par un traitement de leurs données à caractère personnel et la responsabilisation des acteurs de ce traitement. Ces principes pourront être appliqués grâce à l&#39;augmentation du pouvoir des autorités de régulation.</p>

    <h2 id="pourquoi-openeduc-est-conforme-au-rgpd-">Pourquoi OpenEduc est conforme au RGPD ?</h2>
    <ul>
        <li>Nous ne recueillons que les données nécessaires au bon fonctionnement de la plateforme</li>
        <li>Ces données sont stockées sur des serveurs sécurisés en France</li>
        <li>Nous ne vendons, ni ne louons aucune de vos données personnelles</li>
        <li>Vous pouvez obtenir sur simple demande les données vous concernant</li>
    </ul>
    
    <br><br><br><br><br><br><br><br><br><b><b></b></b>
{% endblock %}