.mdp {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mdpContainer:hover .mdp{
    opacity: 1;
}

/* LOGS */
.card {
    margin-top: 20px;
  }
  .card-header {
    background-color: #007bff;
    color: #fff;
  }
  .table {
    margin-bottom: 0;
  }


/* TABLEAU */

table {
    border: 2px solid #000;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 2px solid #000;
}

tr>th {
    background-color: #0A4191;
    color: white;
}

tbody>tr:hover {
    /* font-weight: bold; */
    background-color: #F9A825;
}