/*
 * ORANGE clair : #F9A825
 * ORANGE foncé : #C97700
 * BLEU         : #0A4191
 * NOIR   clair : #282d32
*/
/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: #282d32;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C97700;
  border-radius: 10px;
}


body {
  margin: 0;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 100%);
  /* background-color:aliceblue;
  background-image: url('https://static.vecteezy.com/system/resources/previews/021/599/588/non_2x/abstract-white-and-gray-overlap-circles-background-3d-paper-circle-banner-with-drop-shadows-minimal-simple-design-for-presentation-flyer-brochure-website-book-etc-vector.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; */
  color: white;
}

#container {
    margin: 20px 50px;
    padding-bottom: 10%;
}

/* Style du titre */
h1,h2 {
  text-align: center;
}


h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #F9A825;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style des sous-titres */
h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style des paragraphes */
p {
  font-size: 16px;
  margin-bottom: 15px;
  color: white;
}

label {
  color: white;
}

/* Style des éléments forts */
strong {
  font-weight: bold;
}

/* Style de la séparation */
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #ccc;
}
/* Sélecteur */
select {
  width: 30%;
  padding: 10px;
  color: #F9A825;
  background-color: white;
  border: solid;
  border-color: #F9A825;
  border-width: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select:hover{
  background-color: #C97700;
  border-color: #C97700;
  color: white;
}


/* TABLEAU */
table {
  border: 2px solid #000;
  border-collapse: collapse;
  text-align: center;
  color: white;
}

/* ligne */
tr {
  background-color: #282d32;
}
/* ligne-titre */
th {
  background-color: #0A4191;
}
/* toutes les lignes corps  */
td, th {
  border: 2px solid #000;
}
/* hover : ligne */
tbody>tr:hover {
  /* font-weight: bold; */
  background-color: #15181b;
}


/* Style du bouton */
input[type="button"], input[type="submit"], input[type="checkbox"], form[type="button"] {
  width: 10%;
  padding: 10px;
  background-color: #F9A825;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover du bouton */
input[type="button"]:hover, input[type="submit"]:hover, input[type="checkbox"]:hover { 
  background-color: #C97700;
}

/* INPUT TEXT */
input[type="text"], input[type="email"], input[type="password"] {
  border-color: #F9A825;
}

input[type="text"]:hover {
  border-color: #C97700;
}

/* _________________________ */
/*          NAVBAR           */
/* _________________________ */

#navbar {
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  /* background: linear-gradient(#F9A825, #F9A825, #F9A825, #00000000); */
  font-size: 1.1em;
  color: white;
}

#navbar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item.login-logout {
  margin-left: auto;
  display: flex;
}

.navbar-item a {
  text-decoration: none;
  display: block;
  color: white;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #fcfcfc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  background-color: #0A4191;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #C97700;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logout:hover, #login:hover {
  color: #0A4191;
}



/* _________________________ */
/*          FOOTER           */
/* _________________________ */

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}