{% extends "base.html" %}

{% block title %}Dashboard - Ajouter une École{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}

{% block content %}

<h1>Dashboard</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for  category, message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h2>Ajouter une École</h2>

<div class="container">
    <div class="row" style="width: 30em;">
        <div class="col">
            <form action="{{ url_for('dashboardAdminAddEcole') }}" method="POST">
                <div class="form-group">
                    <label for="nomEcole">Nom de l'école:</label><br>
                    <input type="text" id="nomEcole" name="nomEcole" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse:</label><br>
                    <input type="text" id="adresse" name="adresse" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="ville">Ville:</label><br>
                    <input type="text" id="ville" name="ville" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="codePostal">Code Postal:</label><br>
                    <input type="text" id="codePostal" name="codePostal" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cycleScolaire">Cycle Scolaire:</label><br>
                    <select id="cycleScolaire" name="cycleScolaire" class="form-control" required>
                        <option value="" disabled selected aria-required="true">Choisissez un cycle scolaire</option>
                        <option value="maternelle">Maternelle</option>
                        <option value="elementaire">Élémentaire</option>
                        <option value="college">Collège</option>
                        <option value="lycee">Lycée</option>
                    </select><br>
                </div>
                <input type="submit" value="Créer" style="width:max-content;">
            </form>
        </div>
    </div>
</div>

{% endblock %}
