{% extends "base.html" %}

{% block title %}Dashboard - {% endblock %}
{% block js %}<script src"{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}


{% block content %}

<h1>Dashboard</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for  category, message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h2>Supprimer une Ecole</h2>

<div class="container">
    <div class="row">

        <div class="col">
            <form action="{{ url_for('dashboardAdminDeleteEcole') }}" method="POST">
                <div class="form-group">
                    <label for="term">Saisir une recherche :</label>
                    <input class="form-control" type="text" name="term" placeholder="Entrez un terme de recherche">
                </div>
                <input type="submit" name="submit-type" value="Rechercher" class="form-control" style="width:max-content;">
            </form>
        </div>

        <div class="col">
            {% if ecoles is not none %}
                {% if ecoles == [] %}
                    <div class="alert alert-warning" role="alert">
                        Aucune école ne correspond à la recherche.
                    </div>
                {% else %}
                    <form action="{{ url_for('dashboardAdminDeleteEcole') }}" method="POST">
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th style="width: 3em;">ID</th>
                                    <th>Nom</th>
                                    <th style="width: 5em;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ecole in ecoles %}
                                <tr>
                                    <td value="ecole[0]">{{ ecole[0] }}</td>
                                    <td value="ecole[0]">{{ ecole[1] }}</td>
                                    <td>
                                        <input type="checkbox" name="ecole_id" value="{{ ecole[0] }}" style="width: max-content;">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <input type="submit" name="submit-type" value="Supprimer les écoles sélectionnés" style="width: max-content;">
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}