{% extends "base.html" %}

{% block title %}Dashboard - {% endblock %}
{% block js %}<script src"{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}


{% block content %}

<h1>Dashboard</h1>

<h2>Rechercher un Référent</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for  category, message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <div class="row">

        <div class="col">
            <form action="{{url_for('dashboardAdminSearchRef')}}" method="POST">
                <div class="form-group">
                    <label for="nom">Saisir un identifiant :</label>
                    <input class="form-control" type="text" name="query" id="nom" autofocus>
                </div>
                <input type="submit" value="Chercher" style="width: max-content;">
            </form>
        </div>

        <div class="col">
            {% if resultats is not none %}
                {% if resultats|length == 0 %}
                <div class="alert alert-warning" role="alert">
                    Aucun référent ne correspond à la recherche.
                  </div>      
                {% else %}
                <table class="table is-fullwidth" style="border: 2px solid #000; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="border: 2px solid #000;">ID</th>
                            <th style="border: 2px solid #000;">Identifiant</th>
                            <th style="border: 2px solid #000;">MotDePasse</th>
                            <th style="border: 2px solid #000;">idEcole</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultat in resultats %}
                        {% if resultat[3] == 0 %}
                        <tr>
                            <td style="border: 2px solid #000;">{{ resultat[0] }}</td>
                            <td style="border: 2px solid #000;">{{ resultat[1] }}</td>
                            <td style="border: 2px solid #000;" class="mdpContainer">
                                <img src="https://static-00.iconduck.com/assets.00/eye-show-icon-2048x1326-edkdqxrw.png" alt="icon show" style="width:30px; pointer-events:none; user-select:none;">
                                <span class="mdp">{{ resultat[2] }}</span>
                            </td>
                            <td style="border: 2px solid #000;">{{ resultat[4] }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        </div>

    </div>
</div>

<br><br>

<div class="container">
    <div class="row">

        <div class="col">
            <h2>Regénérer un  mot de passe :</h2>
            <form action="{{url_for('dashboardAdminSearchRef')}}" method="POST">
                <div class="form-group">
                    <label for="nom">Saisir un identifiant :</label>
                    <input class="form-control" type="text" name="idUtilisateur" id="nom" required>
                </div>
                <input type="submit" name="submit-generate" value="Regénérer" style="width: max-content;" onclick="return confirm('Are you sure ?')">
            </form>
        </div>
        
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>

    </div>
</div>




{% endblock %}