{% extends "base.html" %}

{% block title %}Dashboard - Modifier une Ecole{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}


{% block content %}

<h1>Dashboard</h1>

<h2>Modifier une Ecole</h2>


<form action="{{ url_for('dashboardAdminEditEcole') }}" method="POST">
    <label for="id_ecole">ID de l'école :</label>
    <select name="id_ecole" id="id_ecole" required>
        <option value="" disabled selected aria-required="true">Choisissez une école</option>
        {% for ecole in ecoles %}
            {% if ecole[0] == id_ecole %}
            <option selected value="{{ecole[0]}}"> {{ ecole[3].upper() }} - {{ ecole[1] }} </option>
            {% else %}
            <option value="{{ecole[0]}}"> {{ ecole[3].upper() }} - {{ ecole[1] }} </option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" name="submit-type" value="Rechercher">
</form>
            
<br><br>
<hr>
<br>

{% if affichage %}
<div class="container">
    <div class="row">

        <div class="col">
            <form action="{{ url_for('dashboardAdminEditEcole') }}" method="POST">
                <input type="hidden" name="id_ecole" value="{{ id_ecole }}">
                <div class="form-group">
                    <label for="nomEcole">Nom de l'école :</label>
                    <input value="nomEcole" class="form-control" type="text" id="nomEcole" name="nomEcole" placeholder="Nouveau nom de l'école">
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse :</label>
                    <input value="adresse" class="form-control" type="text" id="adresse" name="adresse" placeholder="Nouvelle adresse">
                </div>
                <div class="form-group">
                    <label for="ville">Ville :</label>
                    <input value="ville" class="form-control" type="text" id="ville" name="ville" placeholder="Nouvelle ville">
                </div>
                <div class="form-group">
                    <label for="codePostal">Code postal :</label>
                    <input value="codePostal" class="form-control" type="text" id="codePostal" name="codePostal" placeholder="Nouveau code postal">
                </div>
                <div class="form-group">
                    <label for="nbEleves">Nombre d'élèves :</label>
                    <input class="form-control" type="text" id="nbEleves" name="nbEleves" placeholder="Nouveau nombre d'élèves">
                </div>
                <div class="form-group">
                    <label for="telephone">Téléphone :</label>
                    <input class="form-control" type="text" id="telephone" name="telephone" placeholder="Nouveau numéro de téléphone">
                </div>
                <div class="form-group">
                    <label for="email">Email :
                    </label>
                    <input class="form-control" type="text" id="email" name="email" placeholder="Nouvelle adresse email">
                </div>
                <div class="form-group">
                    <select class="form-control" name="cycleScolaire" id="cycleScolaire">
                        <option value="" disabled selected aria-required="true">Choisissez un cycle scolaire</option>
                        <option value="maternelle">Maternelle</option>
                        <option value="elementaire">Élémentaire</option>
                        <option value="college">Collège</option>
                        <option value="lycee">Lycée</option>
                    </select>
                </div>
                <input type="submit" value="Modifier" style="width: max-content;">
        </form>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}
