{% extends "base.html" %}

{% block title %}Dashboard - Modifier un Référent{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}


{% block content %}

<h1>Dashboard</h1>

<p>tuto ? explication en despi</p>

<h2>Modifier un Référent</h2>

<form action="{{ url_for('dashboardAdminEditRef') }}" method="POST">
    <label for="id_utilisateur">ID de l'utilisateur :</label>
    <select name="id_utilisateur" id="id_utilisateur">
        <option value="" disabled selected aria-required="true">Choisissez un utilisateur</option>
        {% for utilisateur in utilisateurs %}
        <option value="{{utilisateur[0]}}"> {{ utilisateur[1] }} </option>
        {% endfor %}
    </select>
    <input type="submit" name="submit-type" value="Rechercher">
</form>

    <br><br>
    <hr>
    <br>

    <div class="container">
        <div class="row">

            <div class="col">
                <form action="{{ url_for('dashboardAdminEditRef') }}" method="POST">
                    <div class="form-group">
                        <label for="identifiant">identifiant : </label>
                        <input style="width: max-content" class="form-control" type="text" id="identifiant" name="identifiant" value="{{identifiant}}" placeholder="Nouvel identifiant (login)">
                    </div>
                    <div class="form-group">
                        <label for="mdp">Mot de passe : </label>
                        <input style="width: max-content" class="form-control" type="text" id="mdp" name="mdp" value="{{mdp}}" placeholder="Nouveau mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="ecoles">Ecoles : </label>
                        <select style="width: max-content" class="form-control" name="ecoles" id="ecoles">
                            <option value="" disabled selected aria-required="true">Choisissez une école</option>
                            {% for e in ecoles %}
                                {% if ecole == e[0] %}
                                <option selected value={{ecole}}>{{ e[3].upper() }} - {{ e[1] }}</option>
                                {% else %}
                                <option value="{{e[0]}}">{{ e[3].upper() }} - {{ e[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br><br>
                        <input style="width: max-content" type="submit" name="submit-type" value="Modifier">
                    </div>
                </form>
            </div>

        <div class="col">
            <table class="table is-fullwidth" style="border: 2px solid #000; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <th style="border: 2px solid #000;">ID</th>
                        <td style="border: 2px solid #000;">{{ id_utilisateur }}</td>
                    </tr>
                    <tr>
                        <th style="border: 2px solid #000;">Identifiant</th>
                        <td style="border: 2px solid #000;">{{ identifiant }}</td>
                    </tr>
                    <tr>
                        <th style="border: 2px solid #000;">Mot de passe</th>
                        <td style="border: 2px solid #000;">{{ mdp }}</td>
                    </tr>
                    <tr>
                        <th style="border: 2px solid #000;">Ecole</th>
                        <td style="border: 2px solid #000;">{{ ecole }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}