{% extends "base.html" %}

{% block title %}Dashboard - {% endblock %}
{% block js %}<script src"{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}


{% block content %}

<h1>Dashboard</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for  category, message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}


<h2>Rechercher une Ecole</h2>
<br>

<div class="container">
    <div class="col">

        <div class="row">
            <form action="{{url_for('dashboardAdminSearchEcole')}}" method="POST">
                <div class="form-group">
                    <label for="nom">Saisir un nom :</label>
                    <input type="text" name="query" id="nom" style="width: 20em;" autofocus>
                    <input type="submit" value="Chercher" style="width: max-content;margin-left: 1em;padding-left:20px;padding-right:20px;">
                </div>
            </form>
        </div>

        <div class="row">
            {% if resultats %}
                {% if resultats|length == 0 %}
                <div class="alert alert-warning" role="alert">
                    Aucun référent ne correspond à la recherche.
                  </div>      
                {% else %}
                <table class="table is-fullwidth" style="border: 2px solid #000; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="border: 2px solid #000;">ID</th>
                            <th style="border: 2px solid #000;">Nom</th>
                            <th style="border: 2px solid #000;">Adresse</th>
                            <th style="border: 2px solid #000;">Ville</th>
                            <th style="border: 2px solid #000;">Code Postal</th>
                            <th style="border: 2px solid #000;">Nombre d'élèves</th>
                            <th style="border: 2px solid #000;">Téléphone</th>
                            <th style="border: 2px solid #000;">E-mail</th>
                            <th style="border: 2px solid #000;">Cycle Scolaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultat in resultats %}
                        <tr>
                            <td>{{ resultat[0] }}</td>
                            <td>{{ resultat[1] }}</td>
                            <td>{{ resultat[2] }}</td>
                            <td>{{ resultat[3] }}</td>
                            <td>{{ resultat[4] }}</td>
                            <td>{{ resultat[5] if resultat[5] }}</td>
                            <td style="width: 9em;">{{ resultat[6] if resultat[6] }}</td>
                            <td>{{ resultat[7] if resultat[7] }}</td>
                            <td>{{ resultat[8] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}