{% extends "base.html" %}
{% block title %}Modifier les informations de l'école{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>{% endblock %}

{% block content %}

<h1>Dashboard</h1>


<!-- Modifier les informations des classes -->
<h2>Informations des classes</h2>

<form action="{{ url_for('referentClasse') }}" method="POST">
    <label for="niveau">Niveau(x) :</label>
    <select name="niveau" id="niveau">
        <option value="" disabled selected aria-required="true">Choisissez un niveau</option>
        {% if cycleScolaire == 'maternelle' %}
        <option value=""> Petite Section  </option>
        <option value=""> Moyenne Section </option>
        <option value=""> Moyenne Section </option>
        {% endif %}
        {% if cycleScolaire == 'elementaire' %}
        <option value=""> CP  </option>
        <option value=""> CE1 </option>
        <option value=""> CE2 </option>
        <option value=""> CM1 </option>
        <option value=""> CM2 </option>
        {% endif %}
        {% if cycleScolaire == 'college' %}
        <option value=""> 6e </option>
        <option value=""> 5e </option>
        <option value=""> 4e </option>
        <option value=""> 3e </option>
        {% endif %}
        {% if cycleScolaire == 'lycee' %}
        <option value=""> Seconde   </option>
        <option value=""> Première  </option>
        <option value=""> Terminale </option>
        {% endif %}
    </select><br><br>
    
    <label for="nom_prof">N"om du professeur :</label>
    <input type="text" id="nom_prof" name="nom_prof" value="" required><br><br>

    <label for="effectifs">Ef"fectifs :</label>
    <input type="text" id="effectifs" name="effectifs" value="" required><br><br>

    <input type="submit" value="" >
</form>



{% endblock %}
