{% extends "base.html" %}

{% block title %}Erreur 500 - {% endblock %}

{% block css %}
<style>
    /* * { 
        margin: 0; 
        padding: 0; 
        box-sizing: border-box; 
    }  */
    
    body { 
        font-family: Arial, sans-serif; 
        background-color: #D3D3D3; 
        /* display: flex; 
        justify-content: center; 
        align-items: center;  */
        height: 100vh; 
    } 
    
    .error-container { 
        text-align: center; 
        background-color: #fff; 
        padding: 100px; 
        border-radius: 5px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    } 
    
    .error-container>h1 { 
        font-size: 5rem; 
        color: #F9A825;
        transition: color 0.3s ease;
    } 
    .error-container>h1:hover {
        color: #C97700;
    }
    
    .error-container>p { 
        font-size: 1.5rem; 
        color: #333; 
        margin-bottom: 20px; 
    } 
    
    .error-container>a { 
        text-decoration: none; 
        background-color: #F9A825; 
        color: #fff; 
        padding: 10px 20px; 
        border-radius: 3px; 
        font-weight: bold; 
        transition: background-color 0.3s ease; 
    } 
    
    .error-container>a:hover { 
        background-color: #C97700; 
    }
    
    </style>
{% endblock %}


{% block content %}

<div class="error-container"> 
    <h1> 500 </h1> 
    <p>Oups ! Une erreur interne du serveur s'est produite. Veuillez réessayer ultérieurement</p>
    <a href="{{url_for('index')}}"> Retour à l'Accueil </a> 
</div> 


{% endblock %}
<!-- Autre page error404 : https://blog.openreplay.com/creating-a-custom-404-error-page/ -->